:root {
    --background: rgb(255, 252, 241);
    --olive: rgb(185, 185, 62);
    --gold: rgb(232, 178, 124);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    background-color: var(--background);
    margin-left: 15%;
    margin-right: 15%;
}

/* HEADER */
header {
    text-align: center;
    margin: 28px 15% 28px 15%;
}

header h1 {
    color: var(--gold);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header p {
    font-size: 16px;
    margin-bottom: 72px;
}

/* CONTAINER */
.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* width: 100% */
}

/* BOXES */
.box {
    width: 21.66%;
    max-width: 550px;
    margin: 10px;
    padding: 10px;
    position: relative;
    border: 2px dashed var(--gold);
    margin-bottom: 44px;
    width: 30%;
    background-color: var(--background);
    transition: 0.3s ease-in-out;
}

.box:hover {
    box-shadow: 0 5px 15px rgb(195, 195, 195);
    transform: scale(1.005);
}

.box h2 {
    text-align: center;
    color: var(--olive);
    border: 2px solid var(--gold);
    border-radius: 12px;
    padding: 12px;
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    margin: auto;
    width: 236px;
    background-color: var(--background);
}

.overlay h2 {
    width: 300px;
}

.box p {
    font-size: 16px;
}

.box pre {
    background: linear-gradient(to bottom right, var(--background) 15%, rgb(239, 200, 162));
    border-radius: 8px;
    border: 2px solid var(--olive);
    color: rgb(76, 76, 76);
    padding: 16px;
    height: auto;
    overflow:auto;
    box-sizing: border-box;
    overflow-wrap: break-word;
    user-select: all;
    cursor: pointer;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 962px) {
.box {
    width: 50%;
    margin-top: 32px;
 }
}

@media only screen and (max-width: 768px) {
.box {
    width: 100%;
    margin-top: 32px;
 }
}